body {
    font-family: 'Montserrat', sans-serif;
}

h1 { font-family: 'Montserrat', sans-serif; font-size: 3.5rem; line-height: 1.5; font-weight: 900;}

h2 {
    font-family: 'montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: 2rem;
    font-family: 'Montserrat';
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* nav bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu-heavy";
    font-size: 3rem;
    font-weight: bold;
 
    
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "montserrat-light";
}


/* dl buttons */

.dl-button {
    margin: 5% 3% 5% 0;
}




/* topc */

#title {
    background-color: #ff4c68;
    height: 900px;
    color: white;
}

#mainpatio {
    position: relative;
    
    width: 60%;
    height: auto;
}

.container-fluid {
    padding: 3% 15%;
}


/* features */

#features {
    margin-top: 300px;
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;

}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-inner{
    height: 500px;
}

.dad {
    width: 15%;
    height: auto;
    border-radius: 100%;
    margin: 20px;
}

.rm {
    width: 20%;
    height: auto;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
}

.text007 {
    font-size: 2.5rem;
}

.l007 {
    color: #000;
    padding-left: 5px;
}

.press-logo {
    width: 15%;
    margin: 10px 20px 50px;
}



/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

/* pricing */

.munz {
    padding-top: 200px;
}

#pricing {
    padding: 100px;
}







.botspac {
    margin-top: 20px;
    background-color: #66BFBF;
    padding: 10px 0 20px;
}